.welcome {
  height: 500px;
  display: grid;
}
.welcome .wh1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: start;
  align-self: start;
  padding-top: 0px;
  color: #293241;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3843137255);
}
.welcome p {
  color: #293241;
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3843137255);
}

.is2 {
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.is2 .promo {
  height: 200px;
  width: 500px;
  margin-top: 100px;
  margin-left: 100px;
  background-image: linear-gradient(to bottom, rgba(152, 193, 217, 0.4588235294), rgba(152, 193, 217, 0.4588235294)), url(../img/Imgperro1.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
}
.is2 .promo .ih2 {
  color: #293241;
}
.is2 .promo p {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.is2 .promo a {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-color: #3d5a80;
  padding: 5px 15px;
  border-radius: 5px;
}
.is2 .promo a:hover {
  background-color: #a7c4e9;
  color: #000000;
}

.is3 {
  height: 450px;
  box-shadow: 0px 0px 0px 0px 2px black;
}
.is3 .cat .h2-cat {
  height: 50px;
  background-color: #98C1D9;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #293241;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px black;
}
.is3 .catcards {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
}
.is3 .catcards .catcard {
  height: 65%;
  width: 20%;
  border: 2px solid grey;
  border-radius: 10px;
}
.is3 .catcards a {
  text-decoration: none;
  color: #3d5a80;
}
.is3 .catcards img {
  width: 100%;
}
.is3 .catcards h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 130%;
  margin: 0px 10px;
}

.is4 {
  background-color: #293241;
  height: 270px;
  box-shadow: 0px 0px 0px 0px 2px black;
}
.is4 .sm .h2-sm {
  height: 50px;
  background-color: #98C1D9;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #293241;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px black;
}
.is4 .social-media {
  color: white;
  height: 200px;
  display: block;
  padding: 3% 2% 0% 2%;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
}
.is4 .fa-brands {
  color: white;
  margin: 0px 20px;
  font-size: 50px;
}

@media only screen and (min-width: 370px) {
  .welcome {
    height: 100%;
    grid-template-rows: 50px 50px;
  }
  .welcome .wh1 {
    grid-row: 1/2;
    font-size: 150%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .welcome p {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
  .is2 {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .is2 .promo {
    height: 300px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.3764705882);
    border: none;
    padding: 20px;
  }
  .is2 .promo h2 {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
  }
  .is2 .promo p {
    font-size: 14px;
    text-align: justify;
    padding-top: 25px;
  }
  .is2 .promo a {
    margin-bottom: 10px;
  }
  .is3 .catcards .catcard {
    height: 120px;
    width: 120px;
  }
}
@media only screen and (min-width: 370px) and (min-width: 768px) {
  .index {
    height: 1%;
  }
  .welcome {
    height: 100%;
    grid-template-rows: 100px 50px;
  }
  .welcome .wh1 {
    grid-row: 1/2;
    font-size: 3rem;
  }
  .welcome p {
    grid-row: 2/3;
    padding: 15px;
  }
  .is2 {
    height: 300px;
  }
  .is2 .promo {
    height: 290px;
    background-color: rgba(0, 0, 0, 0.3764705882);
    border: none;
    padding: 20px;
  }
  .is2 .lp {
    background-color: rgba(255, 255, 255, 0.456);
    border-radius: 10px;
  }
  .is3 .catcards .catcard {
    height: 60%;
    width: 20%;
  }
  .is3 .catcards h2 {
    height: 40%;
    align-items: center;
  }
}
@media only screen and (min-width: 370px) and (min-width: 980px) and (max-width: 2000px) {
  .is2 .promo {
    height: 300px;
    background-position: center;
  }
  .is2 .promo p {
    font-size: 20px;
    text-align: center;
    padding: 30px 200px;
  }
  .is3 .catcards .catcard {
    height: 80%;
    width: 20%;
  }
  .is3 .catcards h2 {
    height: auto;
    align-items: center;
  }
}
.catalogo {
  background-color: #e6e6e6;
}

.ch1 {
  text-align: center;
  padding-top: 20px;
  color: #293241;
  font-size: 100%;
  text-shadow: 0px 0px 1px black;
}

.cs1 {
  height: 50px;
  margin: 30px 0px 30px 0px;
}
.cs1 .cbutton {
  display: flex;
  justify-content: center;
}
.cs1 .cbutton .btn {
  background-color: #293241;
  color: #98C1D9;
}
.cs1 .cbutton .dropdown-menu {
  background-color: #98C1D9;
}
.cs1 .cbutton .dropdown-item {
  color: #293241;
}

.cs2 {
  height: 100%;
  margin: 0px 20px 0px 20px;
}
.cs2 .products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.cs2 .products .card {
  height: 40%;
  width: 20%;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px black;
}
.cs2 .products img {
  width: 100%;
  margin: 30px 0px;
}
.cs2 .products h2 {
  display: flex;
  justify-content: start;
  font-size: 130%;
  margin: 0px 10px;
}
.cs2 .products .description {
  display: flex;
  justify-content: start;
  font-size: 100%;
  margin: 0px 10px;
}
.cs2 .products .price {
  display: flex;
  justify-content: end;
  font-size: 150%;
  font-weight: bolder;
  margin: 20px 20px 20px 10px;
}

.cnext {
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
}
.cnext button {
  background-color: #EE6C4D;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
}
.cnext button a {
  text-decoration: none;
  color: white;
}
.cnext a:hover {
  color: #000000;
  background-color: #98C1D9;
}
.cnext button:hover {
  background-color: #98C1D9;
  color: #000000;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
  .ch1 {
    font-size: 100%;
  }
  .cs2 .products .card {
    height: 80%;
    width: 80%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .cs2 .products .card {
    height: 80%;
    width: 40%;
  }
}
.co-h1 {
  text-align: center;
  padding-top: 20px;
  color: #a7c4e9;
  font-size: 100%;
  text-shadow: 0px 0px 10px black;
}

.co-container {
  padding-top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 20%;
}
.co-container .cont {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
}
.co-container .cont iframe {
  height: 80%;
  width: 50%;
  padding: 1%;
  border-radius: 15px;
  display: grid;
  place-self: start center;
}

.co-info {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
}
.co-info .co-h2 {
  height: 60px;
  font-size: 200%;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px black;
  text-align: center;
}
.co-info p {
  height: 50px;
  margin: 0px 30px 0px 30px;
  text-align: center;
  font-size: 100%;
  text-shadow: 0px 0px 10px black;
}

@media only screen and (min-width: 480px) {
  .contacto {
    height: 100vh;
  }
  .co-h1 {
    font-size: 200%;
  }
  .co-container {
    padding-top: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
  }
  .co-container .cont {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .co-container .cont iframe {
    height: 80%;
    width: 80%;
    place-self: center;
  }
  .co-info {
    grid-column: 2/3;
    padding-top: 50px;
  }
  .co-info .co-h2 {
    height: 60%;
    font-size: 150%;
  }
  .co-info p {
    margin: 0px;
    margin-top: -50px;
    font-size: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .cont iframe {
    height: 50%;
    width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .co-container {
    padding-top: 5%;
  }
  .cont iframe {
    height: 100%;
    width: 100%;
  }
}
.enter {
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4666666667), rgba(255, 255, 255, 0.4666666667)), url(../img/Imgperro1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.lh1 {
  text-align: center;
  color: #293241;
  font-size: 200%;
  text-shadow: 0px 0px 1px black;
}

.log_in {
  background-color: rgba(255, 255, 255, 0.4784313725);
  max-width: 300px;
  padding: 5% 20%;
  border-radius: 10px;
  margin: auto;
}
.log_in .lform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.log_in input {
  padding: 12px 100px 12px 10px;
  font-size: 14px;
  border-radius: 5px;
  border-style: none;
}

.log2 {
  margin-bottom: 40px;
}

.lbutton {
  justify-content: center;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}
.lbutton button {
  border-radius: 5px;
  padding: 10px;
  background-color: #a7c4e9;
}

.reg {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4666666667), rgba(255, 255, 255, 0.4666666667)), url(../img/Imgperro1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.r-h1 {
  text-align: center;
  padding-top: 20px;
  color: #293241;
  font-size: 200%;
  text-shadow: 0px 0px 1px black;
}

.r-container {
  max-width: 700px;
  padding: 20px 10px;
  margin: 20px auto 0px auto;
}
.r-container form {
  background-color: rgba(240, 240, 240, 0.4078431373);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20px;
  margin: 10px 12px 0 0;
}
.r-container form .form-group {
  margin-bottom: 40px;
  font-size: 12px;
  color: #293241;
}
.r-container form .form-group input {
  padding: 12px 100px 12px 10px;
  font-size: 14px;
  border-radius: 10px;
}
.r-container form .fnac {
  margin-bottom: 40px;
  font-size: 12px;
  color: #98C1D9;
}
.r-container form .fnac input {
  padding: 12px 140px 12px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.PyC {
  text-align: center;
  padding-bottom: 50px;
}
.PyC p {
  display: inline-block;
  font-size: 12px;
  margin: 0 auto;
}
.PyC a {
  margin: 0 auto;
}

.r-submit {
  text-align: center;
  margin-bottom: 30px;
}
.r-submit button {
  border-radius: 10px;
  padding: 5px;
  background-color: #EE6C4D;
}

@media only screen and (min-width: 280px) and (max-width: 584px) {
  .r-container {
    display: grid;
    align-self: center;
    max-width: 700px;
    padding: 20px 10px;
    margin: 20px auto 0px auto;
  }
  .r-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 12px 0 0;
  }
  .r-container form .form-group {
    margin-bottom: 40px;
    font-size: 12px;
    color: #98C1D9;
  }
  .r-container form .form-group input {
    padding: 12px 100px 12px 10px;
    font-size: 14px;
    border-radius: 10px;
  }
  .r-container form .fnac {
    margin-bottom: 40px;
    font-size: 12px;
    color: #98C1D9;
  }
  .r-container form .fnac input {
    padding: 12px 150px 12px 10px;
    font-size: 14px;
    border-radius: 10px;
  }
}
.infocorp {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4666666667), rgba(255, 255, 255, 0.4666666667)), url(../img/Imgperro1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ic-h1 {
  text-align: center;
  padding-top: 20px;
  color: #293241;
  font-size: 30px;
}

.ic-grid {
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-gap: 20px;
  padding: 50px;
}

.img1 {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 70%;
  background-image: url(../img/Trabajo.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #293241;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

.p1 {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.422);
  padding: 15px 10px;
}
.p1 .ic-h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #293241;
}
.p1 p {
  font-size: 12px;
  color: black;
  text-align: justify;
  padding-top: 10px;
}

.img2 {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 70%;
  background-image: url(../img/Manualidad.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #293241;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

.p2 {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.422);
  padding: 15px 10px;
}
.p2 .ic-h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #293241;
}
.p2 p {
  font-size: 12px;
  color: black;
  text-align: justify;
  padding-top: 10px;
}

.img3 {
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 70%;
  background-image: url(../img/Almacen.jpg);
  background-size: cover;
  background-position: center bottom;
  border: 2px solid #293241;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

.p3 {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.422);
  padding: 15px 10px;
  color: white;
}
.p3 .ic-h2 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #293241;
}
.p3 p {
  font-size: 12px;
  color: black;
  text-align: justify;
  padding-top: 10px;
}

@media only screen and (min-width: 480px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 50px;
  }
  .p1 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p1 .ic-h2 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p1 p {
    font-size: 10px;
  }
  .img2 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }
  .p2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p2 .ic-h2 {
    font-size: 12px;
  }
  .p2 p {
    font-size: 10px;
  }
  .p3 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p3 .ic-h2 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p3 p {
    font-size: 10px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 50px;
  }
  .p1 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p1 .ic-h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p1 p {
    font-size: 12px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
  }
  .img2 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }
  .p2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p2 .ic-h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p2 p {
    font-size: 12px;
    text-align: justify;
    padding-top: 10px;
  }
  .p3 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p3 .ic-h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p3 p {
    font-size: 12px;
    text-align: justify;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-gap: 50px;
  }
  .p1 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p1 .ic-h2 {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p1 p {
    align-self: start;
    font-size: 100%;
    text-align: justify;
    padding: 0px 30px 0px 30px;
  }
  .img2 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }
  .p2 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p2 .ic-h2 {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p2 p {
    align-self: start;
    font-size: 100%;
    text-align: justify;
    padding: 0px 30px 0px 30px;
  }
  .p3 {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p3 .ic-h2 {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p3 p {
    align-self: start;
    font-size: 100%;
    text-align: justify;
    padding: 0px 30px 0px 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-gap: 100px;
  }
  .p1 {
    margin-right: 10%;
  }
  .p1 .ic-h2 {
    font-size: 30px;
  }
  .p1 p {
    font-size: 20px;
  }
  .p2 {
    margin-left: 10%;
  }
  .p2 .ic-h2 {
    font-size: 30px;
  }
  .p2 p {
    font-size: 20px;
  }
  .p3 {
    margin-right: 10%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .p3 .ic-h2 {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p3 p {
    align-self: start;
    font-size: 20px;
    text-align: justify;
    padding: 0px 30px 0px 30px;
  }
}
header {
  background-color: #293241;
  box-shadow: 0px 0px 2px black;
}
header .header {
  background-color: #98C1D9;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
}
header .logo .image {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
}
header .logo .image img {
  height: 100px;
}
header .log {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 150px;
  display: flex;
  justify-content: end;
}
header .log a {
  font-size: 12px;
  margin-left: 5px;
  text-decoration: none;
  color: #293241;
  font-weight: bold;
}
header .log a:hover {
  color: white;
}
header .search {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 25px;
}
header .search a {
  margin-left: 5px;
  color: #293241;
}
header .search a:hover {
  color: white;
}
header .nav {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
header .nav a {
  margin-left: 15px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFE599;
}
header .nav a:hover {
  background-color: #293241;
  padding: 7px 4px;
  border: 2px solid #FFE599;
  border-radius: 5px;
}
header .hamburguer {
  position: absolute;
  left: 0px;
  top: 20px;
  z-index: 10;
}
header .hamburguer .navbar-dark, header .hamburguer .navbar[data-bs-theme=dark] {
  --bs-navbar-color: $color4;
}
header .hamburguer .container-fluid {
  background-color: #98C1D9;
}
header .navbar-toggler {
  border: none !important;
}
header .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar-toggler-icon background {
  image: var(--bs-navbar-toggler-icon-bg);
}
header .navbar-toggler-icon :hover {
  color: white;
}
header li.nav-item a:hover {
  background-color: white;
}

/*END HEATHER*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

/*START FOOTER*/
footer {
  background-color: #98C1D9;
  height: 100px;
  position: relative;
}
footer .icons {
  width: 120px;
  position: absolute;
  top: 25%;
  left: 1%;
  display: flex;
  justify-content: space-around;
}
footer .icons a {
  font-size: 30px;
  color: #293241;
}
footer .icons a:hover {
  color: white;
}
footer .priv {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0px 0px;
}
footer .priv nav {
  text-align: center;
}
footer .priv nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(95, 95, 95);
}
footer .priv nav a:hover {
  color: white;
}
footer .footer .logo2 img {
  height: 100px;
  position: absolute;
  right: 0px;
}

/*END FOOTER*/
@media only screen and (min-width: 280px) {
  header .logo {
    width: 100%;
    position: absolute;
  }
  footer .priv {
    width: 100%;
  }
  footer .priv nav {
    text-align: start;
    margin-left: 20px;
  }
  footer .priv nav a {
    font-size: 8px;
  }
  footer .logo img {
    position: absolute;
    right: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 3024px) {
  header .logo {
    width: 100%;
  }
}

/*# sourceMappingURL=styles_putsart.css.map */
